/* Reinicia as config. iniciais de CSS das páginas HTML */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Propriedade utilizada para alterar a propriedade padrão da box model */
}

.back-city{
    width: 100vw;   /* Define que essa classe ocupa toda a largura da tela do navegado */
    height: 100vh;  /* Define que essa classe ocupa toda a altura da tela do navegado */

    display: flex;  /* Define a visualização da classe para Flex*/
    justify-content: center;    /* Centraliza os conteúdos da classe ao seu centro de forma horizontalmente */
    align-items: center;        /* Centraliza os conteúdos da classe ao seu centro de forma verticalmente */

    background-image: url(../img/city.jpg); /* Define o plano de fundo da classe com uma imagem*/
    background-size: cover;     /* Define o tamanho do plano de fundo, no caso a imagem será mostrada de forma inteira na classe */
}

.card{
    width: 750px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.glass{
    border: 10px solid #ffffff50;     /* Define que a Borda da DIV tenha 10px e com uma cor branca com 50% de opacidade */
    backdrop-filter: blur(8px);         /* Prop. que define um filtro que colocará um blur no fundo da classe */
}

.glass p:hover{ /* Hover permite alterar as prop do Paragrafo quando colocamos o mouse em cima da tag P  */
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
